.container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    
    
}

         
.container h1{
    position: absolute;
    top: 25%;
}


 .span {
    margin-bottom: 40px;
    position: relative;
    
    font-size: 26px;
    -webkit-text-stroke: 0.3vw #111;
    text-transform: uppercase;
  }
  
   .span::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: 
    linear-gradient(to right, #3a6186 0%, #89253e  51%, #3a6186  100%);
    -webkit-background-clip: text; /* Safari/Chrome */
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0vw;
    border-right: 2px solid #2b5876;
    overflow: hidden;
    animation: animate 6s linear infinite alternate; /* Usar "alternate" para ir e voltar */
    white-space: nowrap; /* Impede quebrar em várias linhas */
  }

  @keyframes animate {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
